[Unit]
Description=Set MAC address for Openblocks family
Before = networking.service

[Service]
ExecStart=/usr/sbin/obs-macaddr.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
