Section: utils
Priority: important
Maintainer: Plat'Home CO.,LTD. <support@plathome.co.jp>
Version: __VERSION__
Package: obsvx1-modem
Architecture: __ARCH__
Depends: atcmd
Description: Modem controller for Openblocks VX series
