[Unit]
Description=Push switch daemon for Openblocks family
After=nitz.service

[Service]
ExecStart=/usr/sbin/pshd
Restart=always
Type=forking
PIDFile=/var/run/pshd.pid

[Install]
WantedBy=multi-user.target
