[Unit]
Description=Setup Ethernet for Openblocks family
Before = networking.service ifupdown-pre.service NetworkManager.service

[Service]
ExecStart=/usr/local/sbin/obs-nicrename.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
