SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{dev_id}=="0x0", ATTR{type}=="1", ATTR{dev_port}=="0", ATTR{ifindex}=="4", KERNEL=="mlan*", NAME="wlan0"
