Section: utils
Priority: important
Maintainer: Plat'Home CO.,LTD. <support@plathome.co.jp>
Version: __VERSION__
Package: obs-util
Architecture: __ARCH__
Description: openblocks utility tool for Openblocks family
