Section: utils
Priority: important
Maintainer: Plat'Home CO.,LTD. <support@plathome.co.jp>
Version: __VERSION__
Package: obs-createkeys
Architecture: __ARCH__
Depends: __DEPENDS__
Description: create ssh keys for Openblocks family
