[Unit]
Description=Network Identity and Time Zone for Openblocks family
After=ssh.service

[Service]
ExecStart=/usr/sbin/nitz.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
