[Unit]
Description=Setup GPIO for Openblocks family
Before = ssh.service

[Service]
ExecStart=/usr/sbin/setup-gpio.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
