Section: utils
Priority: important
Maintainer: Plat'Home CO.,LTD. <support@plathome.co.jp>
Version: __VERSION__
Package: obs-systohc
Architecture: __ARCH__
Depends: __DEPENDS__
Description: sync the system clock for OpenBlocks family
