[Unit]
Description=pshd daemon for OpenBlocks IoT

[Service]
Type=forking
PIDFile=/run/pshd.pid
ExecStart=/usr/sbin/pshd
Restart=on-failure

[Install]
WantedBy=multi-user.target
