Section: base
Priority: important
Maintainer: Plat'Home CO.,LTD. <support@plathome.co.jp>
Version: __VERSION__
Package: kernel-image
Architecture: armel
Description: Linux kernel image for OpenBlocks
