[Unit]
Description=Watchdog timer daemon for Openblocks family

[Service]
ExecStart=/usr/sbin/wd-keepalive 30
Restart=always
Type=forking
PIDFile=/var/run/wd-keepalive.pid

[Install]
WantedBy=multi-user.target
