[Unit]
Description=Poweroff Modem when restarting for OpenBlocks family

[Service]
ExecStart=/usr/sbin/disable-modem.sh
Type=oneshot

[Install]
WantedBy=reboot.target
