[Unit]
Description=Poweroff Modem when restarting for OpenBlocks family

[Service]
ExecStop=/usr/sbin/disable-modem.sh
Type=oneshot
KillMode=none
TimeoutSec=5min
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
